/* .table {
    border-style: dashed;
    /* justify-content: center; */
    /* padding: 5px;
    border-spacing: 5px; */
    border-spacing: 10px;
    /* border-right-width: 80px;
    border-left-width: 80px; */
    /* border-collapse: separate; */
    /* border-spacing: 0 15px;
} */ */
.table-container{
    
    display: flex;
    width: 300px;
    height: auto;
    justify-content: center;
    background-color: aliceblue;
    margin-left:auto;
    margin-right:auto;
    

    /* text-align: center; */
}
body{
    width: auto;
    height: auto;
    /* background-color: green; */
    text-align: center;
    

    
}
.result-container{
    display: flex;
    justify-content: center;
    
    /* padding: 10px 10px; */
    /* border-style: double; */
    /* width: 250px;
    height: 150px; */
    /* background-color:  aliceblue; */
}
h2{
    padding-right: 20px;
    padding-left: 20px;
    /* padding-top: -20px; */
    border-style: dotted;
    margin: unset;
}
.inches-div{
border-style: dashed;
}
.feet-div{
    border-style: dashed;
}
.yard-div{
    border-style: dashed;
    
}
.result-main-container{
    background-color: aqua;
    display: flex;
}
marquee{
    /* background-color: green; */
    /* text-emphasis-color: red; */
    border-style: dotted;
    width: 300px;
    margin-top: 50px;
    background-color: aqua;
    text-decoration: red;
    
}
input{
    background-color: aqua;
    border: 0px;
    text-align: center;
}
.meter-div{
    border-style: dashed;
}

#radio-form{
    
}